@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Roboto:wght@900&display=swap");

.bgHeading {
  position: relative;
}

.bgImage {
  filter: blur(4px) brightness(70%);
  width: 100%;
  height: 70vh;
}
.bgHeading h1 {
  font-size: 6rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-weight: 900;
}
.bg {
   
  width: 100%;
  padding: 5em 0;
  display: flex;
  flex-direction: row;
   
} 

.aboutUsContent { 
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 0 6vmax;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-align: justify;
}

.aboutUsContent h1 {
  font-size: 3vw;
  font-weight: 500;
}

.aboutUsContent p {
  font-size: 1vw;
  font-weight: 100;
}

.bg .right_content {
  position: relative;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row; 
   width: 40%;
   justify-content: center;
   align-items: center;
}

.right_content::before{
  content: "";
  background-image: url("https://i.postimg.cc/D0m3pHj6/icons8-infinity-100.png");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.bg .right_content .h4_left { 
  color: white;  
  padding: 4em 2em;
}

.bg .right_content .h4_right { 
  color: white;
  padding: 4em 2em;
}

.lowerContent {
  /* border: 2px solid red; */
  background-color: black;
   
  /* width: 100vw; */
  color: white;
  /* margin: 4rem 0; */
  margin-bottom: 10rem;
}

.lowerContent h1 {
  padding: 0 0 20px 10vw;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  font-weight: 500;
}

.messageRow {
   display: flex;
   flex-direction: row;
   text-align: justify;
}

.facadContent {
  padding: 6vw 4vw;
  width: 50%;
  color: white;
  font-size: 1vw;
  font-weight: 400;
}


.facadImg{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facadImg img {
  width: 30vmax;
}

.facadImg h3 {
  padding-top: 1.5vh;
}

@media (max-width: 950px) {
  .bgHeading h1 {
    font-size: 4rem;
    left: 30%;
    top: 50%;
    transform: translate(-20%, -30%);
  }
  .bg {
    display: grid;
    grid-template-columns: 1fr;
  }
}
