@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Roboto:wght@900&display=swap');

/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */


/* ===========================HeroSection======================= */

.page {
    position: relative;
    background-color: black;
}

.page::before {
    content: "";
    background-image: url('https://i.postimg.cc/wvMVf9DR/Untitled.jpg');

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    overflow: hidden;
    filter: blur(2px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    width: 40%;

    position: absolute;

    bottom: 8%;
    right: 100px;
    padding: 20px;
    color: white;
}

.content h1 {
    font-size: 8vw;
    font-weight: bolder;
}

.content p {
    font-size: 1.5vw;
}

.gradient-text {
    font-size: 3em;
    background: linear-gradient(to bottom, #884400, #FFFFFF);

    -webkit-background-clip: text;
    background-clip: text;
    /* Clip the text to the background */
    -webkit-text-fill-color: transparent;
    /* Make the text transparent */
    display: inline-block;
    /* Ensure gradient applies properly */
}

.change-text:after {
    content: "NIT ROURKELA STUDENT CHAPTER";
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        content: "NIT ROURKELA STUDENT CHAPTER";
    }

    50% {
        content: "WE MAKE HUMAN POWERED VEHICLES"
    }
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
}

@media (min-width:1000px) and (max-width:1300px) {
    .content {
        bottom: 13%;
        right: 8%;
    }
}

@media (min-width:700px) and (max-width:1000px) {
    .content h1 {
        font-size: 75px;
    }

    .content p {
        font-size: 15px;
    }

    .content {
        right: 30px;
        bottom: 115px;
        width: 55%;
    }
}

@media (max-width: 700px) {
    .content {
        bottom: 180px;
        width: 50%;
        margin: -35px 0px;
    }

    .content p {
        font-size: 10px;

    }

    .content h1 {
        font-size: 50px;

    }
}

/* ===============================Swiper======================= */

.notify {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    background: black;
    color: whitesmoke;
    padding-top: 60px;
}

.notify .swiper {
    width: 85%;
    height: 60%;
}

.notify h1 {
    margin-bottom: 60px;
}

.notify .mySwiper .swiper-button-prev,
.notify .mySwiper .swiper-button-next {
    height: 8%;

}

.notify .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    /* height: 300px; */
}

.notify .swiper-pagination-bullet {
    background-color: blue !important;
}

.notify .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.5 !important;
}

.notify .swiper-slide img {
    display: block;
    width: 100%;
    /* width: 65%; */
}

.swiper-button-next::after {
    font-size: 150% !important;
}

.swiper-button-prev::after {
    font-size: 150% !important;
}

@media(max-width:500px) {
    .notify .swiper {
        width: 90%;
    }

    .notify .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100%;
    }
}

/* ========================Projects========================= */
.project-container {
    display: flex;
    flex-direction: column;
    color: white;
    /* color: black; */
    background-color: rgb(10, 10, 10);
    /* height: 1; */

    align-items: center;
    /* font-family: 'Playfair Display', serif; */
    padding-top: 100px;
}

.project-decs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
 

.project-btn button {
    padding: 10px 30px;
    background: linear-gradient(to right, black, grey);

    font-family: Arial, Helvetica, sans-serif;
    color: white;

    margin: 15px 0px;
}

.project-btn button:hover {
    background: linear-gradient(to right, grey, rgb(255, 253, 253));
    color: rgb(70, 70, 70);
}

.project-card {
    /* border: 4px solid red; */

    /* border-radius: 15px; */
    box-shadow: 0 0px 5px 1px #e3e1db;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
}

.project-card:hover{
    box-shadow: 0 0px 20px 2px #e3e1db;
    transform: scale(1.03);
    /* transform: scale(0.8); */

}
 

/* ================================Events========================= */

.events-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: 142vh; */
    background-color: black;
    color: white;
    padding: 50px 0px;

}

.events-container h1 {
    margin: 20px 0px;
}


.events-btn {
    margin: 20px 0px;

}

.events-btn button {
    padding: 10px 30px;
    color: black;

    background: linear-gradient(to right, rgb(184, 134, 11), whitesmoke);
    font-family: Arial, Helvetica, sans-serif;

}

.events-btn button:hover {
    /* color: white; */
    color: black;
    /* background: linear-gradient(to right, black, grey); */
    background: linear-gradient(to left, grey, rgb(255, 253, 253));
}

.event-card {
    /* border: 4px solid red; */

    /* border-radius: 15px; */
    box-shadow: 0 0px 5px 1px #ffc32b;
    overflow: hidden;
}

.event-card:hover{
    transform: scale(1.03);
    box-shadow: 0 0px 20px 5px #ad7f09;
}

.events-decs {
    background-color: rgb(151, 129, 3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em 1em;

}



/* ============================Achievements Section =========================== */
.acheivements-container {
    height: 80vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.acheivements-container h1 {
    margin-bottom: 80px;
}

.acheivements-container .swiper {
    width: 80vw;
    height: 60%;
}

.acheivements-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    max-width: 400px;
    background: #000;
    /* height: 100%; */
    max-height: 100%;
}

.acheivements-container .swiper-slide img {
    width: auto;
    height: auto;

    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.acheivements-container .swiper-pagination-bullet {
    background-color: blue !important;
}

.acheivements-container .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.5 !important;
}


.acheivements-container .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    /* margin-left: 50px; */
}


.swiper-button-next::after {
    font-size: 150% !important;
}

.swiper-button-prev::after {
    font-size: 150% !important;
}

@media(max-width:500px) {
    .notify .swiper {
        width: 90%;
    }

    .notify .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100%;
    }
}

/* ================================ Gallery ================================= */

.gallery-container {
    display: flex;
    align-items: center;
    flex-direction: column;


    /* background: linear-gradient(to right, whitesmoke, #ccc); */
    padding: 60px 0px;
    background-color: white;


}

.gallery-container h1 {

    padding-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;

}

.grid-item:hover {
    cursor: pointer;
}

.grid-item {
    height: 300px;
    background-color: #ccc;
}

.grid-item img {
    height: 100%;
    width: 100%;
}

/* Classes to define the widths of specific grid items */
.full-width {
    grid-column: span 12;
    /* Spans across both columns */
}

.large-width {
    grid-column: span 8;
    /* Takes the width of 1 column */
}

.small-width {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
    grid-column: span 4;
    /* Takes the width of 1 column */
    background: linear-gradient(to bottom, rgb(23, 22, 22), #ccc);

    color: white;
}

.small-width:hover {
    cursor: pointer;
    /* background-color: rgb(69, 68, 68); */
    background: linear-gradient(to top, grey, white);

    color: black;

}

.equal-width {
    grid-column: span 6;
    /* Takes the width of 1 column */
}

@media (max-width: 1000px) {
    .grid-container {
        /* height: 60vh; */
        width: 90vw;
    }

    .grid-item {
        height: 30vw;
    }

    .grid-container {
        gap: 2px;
    }

    .grid-container h3 {
        font-size: large;
    }
}

/* ========================== Our Team ========================== */

.team-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-box {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0px auto;
    justify-content: center;
}

.team-img {
    width: 50%;
    padding: 30px 50px;
    /* width: 20px; */
}

.team-img img {
    width: 80%;
}

.team-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}

.teams-btn button {
    padding: 10px 30px;
    color: black;

    background: linear-gradient(to right, grey, rgb(255, 253, 253));
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bolder; */
}

.teams-btn button:hover {
    color: white;
    background: linear-gradient(to right, black, grey);

}

@media (max-width: 900px) {
    .team-container {
        font-size: small;
    }

    .team-container h1 {
        font-size: x-large;
    }

    .team-img img {
        /* padding: 20px 40px; */
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .team-box {
        flex-direction: column-reverse;
        align-items: center;
    }

    .team-img img {
        width: 100%;
        height: 100%;
    }

    .team-img {
        width: 100%;
    }

    .team-content {
        width: 100%;
        display: flex;
        align-items: center;
    }

}

/* ========================== Sponsors ======================== */
.sponsors {
    padding-top: 100px;
    background-color: black;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

}

.sponsors-logo {
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    align-items: center;
}

.sponsors-logo img {
    height: 100px;
    /* height: 6vw; */
    /* padding: 10px 10px; */
    margin: 30px 10px;

}

@media (max-width: 800px) {
    .sponsors-logo img {
        height: 50px;
    }
}