@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Roboto:wght@900&display=swap');

/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */


/* ===========================HeroSection======================= */

.page {
    position: relative;
    background-color: black;
}

.page::before {
    content: "";
    background-image: url('https://i.postimg.cc/wvMVf9DR/Untitled.jpg');

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;

    overflow: hidden;

    filter: blur(2px);

    margin: 0;
    padding: 0;



    box-sizing: border-box;
}



.content {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    width: 40%;

    position: absolute;
    bottom: 80px;
    right: 150px;
    padding: 20px;
    color: white;
}

.content h1 {
    font-size: 8vw;
    font-weight: bolder;
}

.content p {
    font-size: 1.5vw;
}

.gradient-text {
    font-size: 3em;

    background: linear-gradient(to bottom, #884400, #FFFFFF);

    -webkit-background-clip: text;
    background-clip: text;
    /* Clip the text to the background */
    -webkit-text-fill-color: transparent;
    /* Make the text transparent */
    display: inline-block;
    /* Ensure gradient applies properly */

}



.change-text:after {
    content: "NIT ROURKELA STUDENT CHAPTER";
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        content: "NIT ROURKELA STUDENT CHAPTER";
    }

    50% {
        content: "WE MAKE HUMAN POWERED VEHICLES"
    }

}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
}


/* ===============================Swiper======================= */


.notify .swiper {

    width: 85%;
    height: 100%;
}

.notify {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Playfair Display', serif;


    background: black;

    color: whitesmoke;

    padding-top: 100px;
    /* padding-bottom: 50px; */
    height: 100vh;
}

.notify h1 {
    margin-bottom: 100px;
}

.notify .mySwiper .swiper-button-prev,
.notify .mySwiper .swiper-button-next {

    height: 8%;
}

.notify .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;

    height: 300px;

}

.notify .swiper-pagination-bullet {
    background-color: blue !important;
}

.notify .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.5 !important;
}


.notify .swiper-slide img {
    display: block;
    width: 100%;
}

/* ========================Projects========================= */
.project-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    height: 1;

    align-items: center;
    font-family: 'Playfair Display', serif;
    padding-top: 100px;
    

}

.project-div {
    display: flexbox;
    padding: 100px 0px;
    /* height: 100%; */
}

.project-content {
    display: flex;
    width: 75vw;
    height: 30%;
   
}



.project-img img {
    /* height: 300px; */
    height: 350px;
}

.project-img {
    margin: 10 10;
    height: 350px;
    width: 50%;
    /* padding-inline: 100px; */
}

.project-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-inline: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.project-desc p {
    color: grey;
    width: 80%;
}

#project2 {
    display: flex;
    margin-top: 100px;

    justify-content: flex-end;

}

.project-btn {
    margin-bottom: 50px;
    /* padding: 5px 5px; */
}

.project-btn button {
    padding: 10px 30px;
    color: black;

    background: linear-gradient(to right, grey, rgb(255, 253, 253));
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bolder; */
}

.project-btn button:hover {
    color: white;
    background: linear-gradient(to right, black, grey);

}


/* ================================Events========================= */

.events-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 120vh;
    background-color: black;
    color: white;
    /* padding: 50px 0px; */

}
.events-container h1{
    margin-bottom: 30px;
}

.events-content {
    display: flex;

    flex-direction: row;
    width: 80vw;
}

.events-content p {
    color: grey;
    
}

.events-img {

    padding: 0px 15px;
    margin: 10px 0px;

    box-shadow: 0 8px 6px -6px orange;
}

.events-img img {
    height: 250px;

}

.events-box {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;

}

.events-desc {
    margin-right: 100px;
}

#events-content2 {
    margin-top: 20px;
}



.events-btn {
    margin-bottom: 50px;

}

.events-btn button {
    padding: 10px 30px;
    color: black;

    background: linear-gradient(to right, rgb(184, 134, 11), whitesmoke);
    font-family: Arial, Helvetica, sans-serif;

}

.events-btn button:hover {
    color: white;
    background: linear-gradient(to right, black, grey);

}

/* ============================Achievements Section =========================== */
.acheivements-container{
    height: 90vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
 
.acheivements-container .swiper {
    width: 90%;
    height: 100%;
  }
  
  .acheivements-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    height: 100%;
  }
  
  .acheivements-container .swiper-slide img {
    width: auto;
    height: auto;
    margin: 0px 30px;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .acheivements-container .swiper-pagination-bullet {
    background-color: blue !important;
}

.acheivements-container .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.5 !important;
}

  
 .acheivements-container .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    margin-left: 50px;
}

/* ================================ Gallery ================================= */

.gallery-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 170vh;
    /* background: linear-gradient(to right, #ffafbd , #ffc3a0); */
    background: linear-gradient(to right, whitesmoke, #ccc);
    padding: 25px 0px;
    
    /* background-color: #ccc; */
    
     
}

.gallery-container h1{
    font-family: sans-serif;
     font-size: 70px;
     padding-bottom: 50px;
}
.grid-container {
    display: grid;
    /* grid-template-columns: 1fr ;   */
    grid-template-columns: repeat(12, 1fr); ; /* First two columns take different widths */
    grid-template-rows: repeat(3, auto); /* Three rows */
    gap: 10px; /* Spacing between grid items */
    height: 100vh;
    width: 60vw;
    
  }
  .grid-item:hover{
    cursor: pointer;
  }
  
  .grid-item {
    height: 300px; /* Set the height of grid items */
    background-color: #ccc; /* Background color for visualization */
  }

  .grid-item img{
    /* height: 150px; */
    height: 100%;
    width: 100%;
  }
  
  /* Classes to define the widths of specific grid items */
  .full-width {
    grid-column: span 12; /* Spans across both columns */
  }
   
  .large-width {
    grid-column: span 8; /* Takes the width of 1 column */
  }
  
  .small-width {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
    grid-column: span 4; /* Takes the width of 1 column */
    background: linear-gradient(to bottom, rgb(23, 22, 22), #ccc);
    
    color: white;
  }

  .small-width:hover{
    cursor: pointer;
    /* background-color: rgb(69, 68, 68); */
    background: linear-gradient(to top, grey, white);
     
    color: black;

  }
  
  .equal-width {
    grid-column: span 6; /* Takes the width of 1 column */
  }
  
  /* ========================== Our Team ========================== */

  .team-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-box{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 0px auto;
    justify-content: center;
  }
  .team-img{
    width: 50%;
    padding: 30px 50px;
    /* width: 20px; */
  }

  .team-img img{
    width: 80%;
  }

  .team-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team-btn button {
    padding: 10px 30px;
    color: black;

    background: linear-gradient(to right, grey, rgb(255, 253, 253));
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bolder; */
}

.team-btn button:hover {
    color: white;
    background: linear-gradient(to right, black, grey);

}

/* ========================== Sponsors ======================== */
.sponsors{
    padding-top: 100px;
    background-color: black;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}
.sponsors-logo{
    display: flex;
    flex-direction: row;
}
.sponsors-logo img{
    height: 100px;
    padding: 10px 10px;
    margin: 30px 50px;

}

  