@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Roboto:wght@900&display=swap');

/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/* ==========================Footer========================= */

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(36, 36, 36); */
  background: linear-gradient(to bottom,rgb(24, 24, 24), rgb(56, 51, 51));
 
  /* background-color: white; */
  color: white;
}

.footerdivs {
  display: flex;
  flex-direction: row;
  width: 80vw;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 14px;
  /* border-bottom: 2px solid blue; */
  /* padding-top: 30px; */
}

.footerdiv1{
  display: flex;
  flex-direction: row;
}

.footerdiv1-content1{
  border-bottom: 2px solid rgb(91, 83, 83);
  padding: 12px 0px;
}

.footerdiv1-content2{
  border-bottom: 2px solid rgb(91, 83, 83);
  padding: 12px 0px;
}

.footerdiv2{
  border-bottom: 2px solid rgb(91, 83, 83);
  padding: 12px 0px;
}

 
.footerimg i {
  margin: 0px 8px;
  font-size: x-large;
  color: rgb(126, 126, 126); 
  /* background-color: white; */
  padding: 0 0;
}

 

.bif:hover{
  color: #316FF6;
}

.bii:hover{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
 
-webkit-background-clip: text;
background-clip: text;
/* Hide the background behind the text */
-webkit-text-fill-color: transparent;
-text-fill-color: transparent;
}

.bil:hover{
  
  color: #0077b5 ;
}

.bit:hover{
  color:#1DA1F2;
}

.footer-content-img{
  display: flex;
  box-shadow: 2px 2px 4px rgb(255, 252, 252);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  width: 80%;
  margin: 0 auto;

}
.footer-content-img img{
  margin: 0px 20px;
  filter: invert(90%) brightness(100%) contrast(100%); /* Invert colors */
    background-color: white; /* Set a white background */
    display: inline-block;
    
   
}
.footerdiv2{
  display: flex;
  flex-direction: column;
}


.copyright p {
  margin-bottom: 0;
  /* padding-bottom: 1%; */
  color: rgb(125, 123, 123);
}

.copyright {
  padding: 3% 0%;
  /* border-top: 2px solid red; */
}

@media(max-width: 600px){
  .footerdivs{
    flex-direction: column;
  }
}

@media(max-width: 500px){
  .footerdiv1{
    flex-direction: column;
  }
}


/* ==========================Header(Navbar)================== */
.navbar {

  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  background: black !important;
  /* background: linear-gradient(to right, black, #777) !important; */
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px black;
  --webkit-box-shadow: 0 8px 6px -6px background-color !important;
  /* border-bottom: 0px solid #F8F8FF !important; */

}

.container-fluid {
  position: relative;
  height: 60px;
}

.overlay-div {
  position: absolute;
  top: 5px;
  left: 15px;
  background-color: white;
  /* padding: 10px;   */
  /* border: 1px solid #ccc;   */
  height: 100%;
  /* width: 100px ; */
}

.overlay-div img {
  height: 100%;
  width: 100%;
}

.nav-link {
  font-weight: 300 !important;
  color: white;
}

.nav-link:hover {
  color: white;
}

.active {
  border-bottom: 2px solid white;
  color: white !important;

}


/* ==============================Page not found====================== */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* 
.homepage {
  background-color: black;
  height: 80vh;
}
   */